composer.lock
composer.json
*.json
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/installed.php
vendor/composer/ClassLoader.php
vendor/composer/InstalledVersions.php
vendor/composer/platform_check.php
vendor/composer/LICENSE
vendor/phenx/php-svg-lib/
vendor/sabberworm/php-css-parser/
vendor/phenx/php-font-lib/
vendor/masterminds/html5/
vendor/dompdf/dompdf/
*.jpg
*.jpg
*.jpg
